<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="listItems()">
    <div th:id="${label}+ '-list'">
    <li th:each="item : ${paginatedList}" class="dropdown-item">
        <input type="checkbox" class="form-check-input"
               th:id="${item}"
               th:checked="${filters.containsInList(label,item)}"
               th:hx-target="'#active-filter-' + ${label} + 's'"
               th:hx-post="'/toggle-'+${label}+'?'+${label}+'='+${item}"
               hx-swap="outerHTML"
               hx-trigger="change"
        />
        <label class="form-check-label" th:for="${item}" th:text="${item}"></label>
    </li>
    <!-- Load More -->
    <li>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary"
                    th:disabled="${currentPage == 0}"
                    th:hx-get="${previousPage}"
                    th:hx-target="'#' + ${label}+ '-list'"
                    hx-vals='{"later-request": "true"}'
                    hx-swap="outerHTML"
                    >
                Previous
            </button>

            <button class="btn btn-secondary"
                    th:disabled="${paginatedList.size() < 8}"
                    th:hx-get="${nextPage}"
                    th:hx-target="'#' + ${label} + '-list'"
                    hx-vals='{"later-request": "true"}'
                    hx-swap="outerHTML"
                    >
                Next
            </button>
        </div>
    </li>
    </div>
</th:block>
</html>