<html xmlns:th="http://www.thymeleaf.org" lang="en">

<footer class="bg-dark text-white py-4">
    <div class="container" style="max-width: 1050px">
        <div class="column">
            <!-- Secțiunea pentru denumirea proiectului -->
            <div class="col-md-12 d-flex align-items-center justify-content-center text-center">
                <div>
                    <h5 style="font-size: 0.9rem" itemprop="name" th:text="'Web Data Commons Analyzer'">
                        Web Data Commons Analyzer
                    </h5>
                    <p style="font-size: 0.7rem" itemprop="description" th:text="'A system for processing RDFa and HTML5 microdata.'">
                        A system for processing RDFa and HTML5 microdata.
                    </p>
                </div>
            </div>

            <!-- Secțiunea pentru numele studenților -->
            <div class="col-md-12 d-flex align-items-center justify-content-center text-center">
                <div>
                    <h6 style="font-size: 0.9rem">Implemented by:</h6>
                    <ul class="list-unstyled">
                        <!-- Student 1 -->
                        <li itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name" th:text="'Rădulescu Richard - Andrei'" style="font-size: 0.9rem">
                                Rădulescu Richard - Andrei
                            </span>
                        </li>
                        <!-- Student 2 -->
                        <li itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name" th:text="'Buimestru Alexandru'" style="font-size: 0.9rem">
                                Buimestru Alexandru
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <p style="font-size: 0.7rem">&copy; 2025 Web Application Development</p>
        </div>

    </div>
</footer>

</html>