<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div  id="statistics">
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
        <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#countStatistic"
                type="button" role="tab" aria-controls="countStatistic" aria-selected="true">Count Graph</button>
    <li role="presentation" class="nav-item">
    <button class="nav-link" id="relations-tab" data-bs-toggle="tab" data-bs-target="#obPredStatistic"
            type="button" role="tab" aria-controls="obPredStatistic" aria-selected="false">Object Distribution for Predicate</button>

</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="countStatistic" aria-labelledby="countStatistic">

            <label for="tripleType" class="form-label">Select Triple Type</label>
            <select id="tripleType" class="form-select"  name="tripleType"
                    th:hx-get="'/statistic-count?dataset=' + ${selectedDataset}"
                    hx-target="#count-statistic"
                    hx-trigger="change">
                <option value="predicate" selected hidden>...</option>
                <option value="predicate">Predicate</option>
                <option value="subject">Subject</option>
                <option value="object">Object</option>
            </select>
        <div id="count-statistic">

        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="obPredStatistic" aria-labelledby="obPredStatistic">
        <div th:hx-get="'/select-predicate?first-request=true&dataset='+${selectedDataset}" hx-trigger="load" hx-swap="outerHTML">

        </div>
        <div id="predicate-statistic">

        </div>
    </div>
</div>
</div>

</html>