<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div id="table"     class="container mt-5">
    <h1 th:text="${tableName}"></h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${tableData}">
            <td th:text="${row[0]}"></td>
            <td th:text="${row[1]}"></td>
            <td th:text="${row[2]}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="d-flex justify-content-between">
        <button class="btn btn-secondary"
                th:disabled="${currentPage == 0}"
                th:hx-get="${previousPage}"
                hx-target="#table"
                hx-swap="outerHTML">
             Previous
        </button>

        <button class="btn btn-secondary"
                th:disabled="${tableData.size() < 20}"
                th:hx-get="${nextPage}"
                hx-target="#table"
                hx-swap="outerHTML">
            Next
        </button>
    </div>
</div>

</html>