<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="dropdown" th:id="'dropdown-'+${label}">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false"
            aria-expanded="false" th:id="'active-filters-'+${label}">
        Select <span th:text="${label}"></span>
    </button>
    <ul class="dropdown-menu" >
        <!-- Search Input -->
        <li>
            <input type="text" class="form-control"
                   name="search"
                   placeholder="Search..."
                   th:hx-get="${endpoint}"
                   hx-trigger="input changed delay:1000ms, recheckCheckboxes from:body"
                   th:hx-target="'#' + ${label} + '-list'"
                   hx-swap="outerHTML"
                   autocomplete="off" />
        </li>
        <th:block th:replace="~{fragments/filters/filter-dropdown-list :: listItems()}"></th:block>

    </ul>
</div>
</html>