<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="filter(dataset, label, endpointDropdown, endpointActiveFilters, targetId)">
    <div class="filter-group d-flex flex-column align-items-start gap-1" >
        <label th:text="${#strings.toUpperCase(label)}" />

        <div class="overflow-auto" style="max-height: 100px;"
             th:id="'active-filter-'+${label}"
        th:hx-get="${endpointActiveFilters}"
             hx-trigger="load"
            hx-swap="outerHTML"
        ></div>

        <div th:id="'dropdown-'+${label}"
             th:hx-get="${endpointDropdown}"
             hx-trigger="load"
             hx-swap="outerHTML"
             th:hx-vals="'{&quot;dataset&quot;: &quot;' + ${dataset} + '&quot;}'"
             th:hx-target="'#dropdown-'+${label}">

        </div>
    </div>

</th:block>
</html>